body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    background-image: url("image.jpeg");/* adding image as background */ 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header {
    background-color: #f3a8a8;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

.Audio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.Sbutton {
    background-color: #a758b5; /*purple*/
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.Sbutton:hover {
    background-color: #b58ca3; /* lighter pink */
}

/* Audio Controls */
audio {
    display: block;
    margin-top: 20px;
}





