body {
    background-color: rgb(123, 61, 61);
}

header {
    text-align: center;
    color: aliceblue;
}

.image {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.image img {
    border-radius: 10px;
}

/* Example filter classes */
.filter1 {
    filter: grayscale(100%);
}

.filter2 {
    filter: sepia(100%);
}

.filter3 {
    filter: saturate(200%);
}
